body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 90vw; /* Largeur totale de la page (échiquier + flashcards) */
  max-width: 1200px;
}

.chessBoard {
  width: 65vw; /* Largeur ajustée de l'échiquier pour faire place aux flashcards */
  height: 65vw; /* Hauteur égale à la largeur pour garder un échiquier carré */
  display: flex;
  flex-wrap: wrap;
}

.flashcard-container {
  width: 25vw; /* Espace réservé pour les flashcards à droite de l'échiquier */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flashcard {
  width: 100%; /* Les flashcards occupent toute la largeur du conteneur */
  padding: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  display: none; /* Par défaut, les flashcards sont cachées */
}

.flashcard.active {
  display: block;
}
